@model List<Randevu>
@if (TempData["basarili"] != null)
{
    <h2>@TempData["basarili"] </h2>
}

<div class="container">
    <div class="row pt-3 pb-4"
        <div>

            <h1> Randevular  </h1>
            </div>
        </div>
    <table class="table table-bordered"
    <thead>
<tr>
    <th>
        Id
        </th>
        <th>
            HastaId
        </th>
         <th>
            DoktorId
        </th>
         <th> </th>


        </tr>
        </thead>
        <tbody>
            @foreach (var randevu in Model)
            {

                <tr>
                <td>@randevu.Id</td>
                <td>@randevu.HastaId</td>
                 <td>@randevu.Doktor.DoktorAdi</td>
                 <td> </td>
                <td>
               <a asp-controller="Randevu" asp-action="EkleGuncelle" asp-route-id="@randevu.Id" type="button" class="btn btn-success" style="width:250px">
                   Güncelle </a>
                   </td>
                   <td>
                           <a asp-controller="Randevu" asp-action="Sil" asp-route-id="@randevu.Id" type="button" class="btn btn-danger" style="width: 250px">Sil</a>
                   </td>
                </tr>
            }
        </tbody>
     </table>
    <div class="row pt-3 pb-2">
        <div>
            <a asp-controller="Randevu" asp-action="EkleGuncelle" class="btn btn-lg btn-primary" type="button">
                Yeni Randevu Kaydı oluştur
            </a>
        </div>


    </div>
